#root {
  font-family: Lato;
  width: 325px;
  margin: 60px auto;
  box-shadow: none;
}
input{
  height: 42px;
}
li{
  height: 44px;
}
click-state{
  text-decoration: line-through;
}
.btn:focus,.btn:active,input[type="text"]:focus {
   outline: none !important;
   box-shadow: none !important;
}
button[type="button"]{
  float:right !important;
}
.oi-chevron-top, .oi-chevron-bottom{
  padding-right: 7px;
  color: rgb(71, 71, 73);
}